/* global styles*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* quotes*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

/* navigation bar*/
a,
.navigation button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

nav {
  position: absolute;
  top: 100px;
  left: 24px;
  width: 250px;
}

.navigation {
  position: fixed;
  left: -500px;
  width: 350px;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
}

.navigation ul li {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 20px 10px;
  border-bottom: 1pt solid #252525;
}

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 4%;
  right: 96%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 3px;
  background: #000;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  left: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}

/* calendar */

#calBody {
  display: flex;
  justify-content: center;
  background-color: #fffcff;
}
#calButton button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

#nextButton {
  margin-left: 615px;
}

#header {
  margin-top: 50px;
  padding: 10px;
  color: black;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
#header button {
  background-color: black;
}

#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: black;
}
#weekdays div {
  width: 100px;
  padding: 10px;
  text-align: center;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: grey;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

/* event pop up for calendar*/
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

#date{
  text-align: center;
  font-size: 30px;
}

#newEventModal h1,li{
  text-align: center;
}

#newEventModal{
  display: none;
  list-style-type: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#closeButton{
  color: white;
  background-color: black;
  margin-left: 330px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/* graph */
.graph{
  margin: 50px;
}

.graph h1{
  text-align: center;
  font-size: 46px;
}

#canvas{
  width: 100%;
  margin: 0 auto;

}